*{
    background: rgb(231, 227, 226);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form{
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    align-self: center;
    margin: auto;
	
	
}
.foto{
    
    max-width:250px;
    max-height:250px;
    width: auto;
    height: auto;   
   
}

.login{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    align-self: center;
    margin: auto;
}

.form .user{

   background-color: #fff;

}

.form .user1{

    background-color: #fff;
    margin: 5px 15px;
 }

.form .bt{
    background-color: #e23;
    color: #fff;
    width: 175px;
    height: 25px;
}